body {
    font-family: 'Segoe UI';
}

input, textarea {
    font-size: 18px;
    width: 200px;
}

label {
    font-size: 16px;
}

#the-form {
    background-color: #808080;
}

#the-form input[type="submit"] {
    background-color: #4cff00;
}

ul.Countries {
    font-size: small;
}

ul.countries li {
    list-style-type: none; /* Remove the bullet */
}

